/* Start Main Rule */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
} 
.countdown-container{
  display:flex;
  justify-content: center;
}
.big-text{
  font-size:4rem;
}
.title{
  margin:10px;
  text-align:center;
  color:rgb(0, 0, 0);
  width:100%;
  letter-spacing:2px;
  font-size: 3rem;
  line-height: 5.5rem;
}
.title span{
  display:block;
  font-size:6rem;
  letter-spacing:2rem;
}
.countdown-container > div{
  margin:0 2rem;
  text-align: center;
  border:2px solid #fff;
  padding:0px 20px;
  border-radius: 12px;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
}
@media (max-width:992px){
  .countdown-container > div{
    margin:0 1rem;
  }
}
@media (max-width:767px){
  .countdown-container{
    flex-wrap: wrap;
  }
  .countdown-container > div{
    margin:1rem auto;
    max-width:150px;
  }
  .title{
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin:10px 0px;
  }
  .title span{
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}

  